.centro {
    text-align: center;
    color: aliceblue;
    padding: auto;
}

html {
    width: 50%;
    margin-left: auto;
    margin-right: auto; 
    height: 100%;
    background-color: aqua;
}


header {
    background-color: rgb(0, 47, 255);
    height: 100px;
    width: 100%;
    border-style: solid;
    margin-top: 10px;
    border-color: red;
    border-width: 5px;
    padding-top: 10px;
}

nav {
    background-color: rgb(0, 47, 255);
    width: 100%;
    height: 20%;
    border-style: solid;
    margin-top: 10px;
    border-color: red;
    border-width: 5px;
}

main {
    background-color: rgb(255, 255, 255);
    width: 98.5%;
    height: 300px;
    border-style: solid;
    margin-top: 10px;
    padding-left: 10px;
    border-width: 5px;
}

footer {
    background-color: rgb(0, 47, 255);
    width: 100%;
    height: 20%;
    border-style: solid;
    margin-top: 10px;
    border-color: red;
    border-width: 5px;
}
